name = "{{WORKER_NAME}}"
main = "src/main.py"
compatibility_date = "2026-06-11"
compatibility_flags = ["python_workers"]

[[r2_buckets]]
binding = "WEBDAV_BUCKET"
bucket_name = "{{R2_BUCKET_NAME}}"
preview_bucket_name = "{{R2_PREVIEW_BUCKET_NAME}}"

[vars]
# Leave both empty to disable Basic Auth.
WEBDAV_USERNAME = "{{WEBDAV_USERNAME}}"
WEBDAV_PASSWORD = "{{WEBDAV_PASSWORD}}"
